#### ***- BIBLIOTECAS NECESSÁRIAS:***

In [1]:
import requests
import pandas as pd
from sqlalchemy import create_engine

#### ***- CARREGAMENTO DE PLANILHAS:***

In [ ]:
clientes = pd.read_csv("olist_customers_dataset.csv")
itens = pd.read_csv("olist_order_items_dataset.csv")
pagamentos = pd.read_csv("olist_order_payments_dataset.csv")
avaliacoes = pd.read_csv("olist_order_reviews_dataset.csv")
pedidos = pd.read_csv("olist_orders_dataset.csv")
produtos = pd.read_csv("olist_products_dataset.csv")
vendedores = pd.read_csv("olist_sellers_dataset.csv")
categorias = pd.read_csv("product_category_name_translation.csv")

#### ***- VISUALIZAÇÃO DE DADOS BRUTOS:***

In [32]:
clientes

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

#### ***- CONEXÃO COM BANCO DE DADOS (KAGGLE_BRONZE):***

In [4]:
usuario = 'root'
senha = 'Fin@2021'
host = '127.0.0.1'
porta = '3306'
banco = 'kaggle_bronze'
from sqlalchemy import create_engine

engine = create_engine('mysql+mysqlconnector://root:Fin%402021@127.0.0.1:3306/kaggle_bronze')

#### ***- CARREGAMENTO DE DADOS BRUTOS NO BANCO DE DADOS (KAGGLE_BRONZE):***

In [5]:
clientes.to_sql('clientes', con=engine, if_exists='replace', index=False)

-1

In [7]:
produtos.to_sql('produtos', con=engine, if_exists='replace', index=False)

-1

In [8]:
pagamentos.to_sql('pagamentos', con=engine, if_exists='replace', index=False)

-1

In [9]:
avaliacoes.to_sql('avaliacoes', con=engine, if_exists='replace', index=False)

-1

In [10]:
pedidos.to_sql('pedidos', con=engine, if_exists='replace', index=False)

-1

In [11]:
vendedores.to_sql('vendedores', con=engine, if_exists='replace', index=False)

-1

In [12]:
categorias.to_sql('categorias_produto', con=engine, if_exists='replace', index=False)

-1

In [13]:
itens.to_sql('itens', con=engine, if_exists='replace', index=False)

-1

#### ***- CÓPIA DOS DADOS BRUTOS PARA LIMPEZA:***

In [21]:
clientes_silver = clientes.copy()
produtos_silver = produtos.copy()
itens_silver = itens.copy()
pedidos_silver = pedidos.copy()
avaliacoes_silver = avaliacoes.copy()
vendedores_silver = vendedores.copy()
categorias_silver = categorias.copy()
pagamentos_silver = pagamentos.copy()

#### ***- LIMPEZA DOS DADOS PARA ANÁLISE:***

In [45]:
clientes_silver.drop_duplicates().dropna()
produtos_silver.drop_duplicates().dropna()
itens_silver.drop_duplicates().dropna()
pedidos_silver.drop_duplicates().dropna()
avaliacoes_silver.drop_duplicates().dropna()
vendedores_silver.drop_duplicates().dropna()
categorias_silver.drop_duplicates().dropna()
pagamentos_silver.drop_duplicates().dropna()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

#### ***- VISUALIZAÇÃO DOS DADOS LIMPOS (SILVER):***

In [34]:
pedidos_silver

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

#### ***- CONEXÃO COM BANCO DE DADOS (KAGGLE_SILVER):***

In [35]:
usuario = 'root'
senha = 'Fin@2021'
host = '127.0.0.1'
porta = '3306'
banco = 'kaggle_silver'
from sqlalchemy import create_engine

engine = create_engine('mysql+mysqlconnector://root:Fin%402021@127.0.0.1:3306/kaggle_silver')

#### ***- CARREGAMENTO DE DADOS LIMPOS NO BANCO DE DADOS (KAGGLE_SILVER):***

In [36]:
clientes_silver.to_sql('clientes_silver', con=engine, if_exists='replace', index=False)

-1

In [37]:
produtos_silver.to_sql('produtos_silver', con=engine, if_exists='replace', index=False)

-1

In [38]:
itens_silver.to_sql('itens_silver', con=engine, if_exists='replace', index=False)

-1

In [39]:
pedidos_silver.to_sql('pedidos_silver', con=engine, if_exists='replace', index=False)

-1

In [40]:
avaliacoes_silver.to_sql('avaliacoes_silver', con=engine, if_exists='replace', index=False)

-1

In [41]:
vendedores_silver.to_sql('vendedores_silver', con=engine, if_exists='replace', index=False)

-1

In [42]:
categorias_silver.to_sql('categorias_silver', con=engine, if_exists='replace', index=False)

-1

In [43]:
pagamentos_silver.to_sql('pagamentos_silver', con=engine, if_exists='replace', index=False)

-1